.main {
    height: 97vh;
    width: 99vw;
    display: flex;
    flex-direction: row;
}

.left,
.right {
    height: 100%;
    width: 25%;
}

.center {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
}

.component {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.host {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2.5vh;
    padding-top: 2.5vh;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5vh;
}

.password {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5vh;
}

.port {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2.5vh;
}

.pubfile, .privfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
}

.password_zone,
.pubfile_zone,
.privfile_zone, 
.password_key {
    display: flex;
    width: 30vw;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.with_password,
.with_pubfile {
    width: 25%;
}

.with_password {
    margin-top: -1vh;
}

.with_pubfile {
    margin-top: 4.5vw;
}

.left_card,
.right_card {
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: column;
    padding-top: 21vh;
    align-items: flex-end;
    z-index: 9999;
}

.center_card {
    height: 100%;
    width: 80%;
}

.password_key {
    display: flex;
    flex-direction: column;
    padding-bottom: 5vh;
}

.menu {
    height: 80%;
}