.custom-switch {
    display: flex;
    align-items: baseline;
}

.line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.img {
    margin-right: 0.5vw;
}

.create_folder {
    padding-left: 1vw;
}

.blue {
    border: 10px solid blue;
    color: blue;
}

#drop_zone {
    width: 200px;
    height: 200px;
    border: 2px dashed #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.container_icon_folder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.special_icons  {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.icon, .container_button {
    padding-left: 1vw;
}

.files_options {
    display: flex;
    justify-content: space-around;
}

.main_title {
    display: flex;
    justify-content: center;
}

.main_nav {
    display: flex;
    justify-content: space-around; /* Center the navigation links */
    gap: 2rem; /* Add spacing between links */
    padding: 1rem; /* Add padding for better spacing */
    border-radius: 8px; /* Rounded corners */
}

.main_nav a {
    text-decoration: none; /* Remove underline from links */
    color: #007bff; /* Bootstrap primary color */
    font-weight: bold; /* Make the text bold */
    transition: color 0.3s ease, transform 0.3s ease; /* Smooth hover effect */
}

.main_nav a:hover {
    color: #0056b3; /* Darker shade on hover */
    transform: scale(1.1); /* Slight zoom effect */
}

.header {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    background-color: #f8f9fa; /* Light background color */
}

#url_to_copy {
    width: auto;
}

.generated_url {
    display: flex;;
}

.dl_button {
    width: 3vw;
    height: 3vw; /* Ensure the height matches the width */
    border-radius: 50%; /* Makes the border circular */
    border: 2px solid #000; /* Add a solid border */
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content inside */
}

.share_icon {
  width: calc(3vh + 0.5vw);
}