services:
  web:
    # image: php:apache
    build:
      context: ./
      dockerfile: Dockerfile
    ports:
      - "${port}:${port}"
      - "${port2}:${port2}"
    volumes:
      - ./:/var/www/html
      - ./000-default.conf:/etc/apache2/conf.d/000-default.conf
    entrypoint: >
      sh -c "certbot 
      -d access-server.ddns.net
      --email test@test.com --agree-tos --no-eff-email"
    depends_on:
      - db

  db:
    # image: mariadb
    build:
      context: ./
      dockerfile: Dockerfile.db
    environment:
      MARIADB_ROOT_PASSWORD: ${root_pswd}
      MARIADB_DATABASE: ${db_name}
      MARIADB_USER: ${username}
      MARIADB_PASSWORD: ${pswd}
      TZ: Europe/Paris
    ports:
      - "127.0.0.1:${port_db}:${port_db2}"
    volumes:
      - ./sql:/docker-entrypoint-initdb.d
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: always
    ports:
      - 127.0.0.1:${port_phpmyadmin}:${port}
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: ${root_pswd}
